@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main>
        <header class="top-row px-4">
            <span class="app-title">Restaurant App - Panel interno</span>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ocurrio un error inesperado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">x</a>
</div>
